[submodule "lib/nativefiledialog-extended"]
	path = lib/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "lib/CSFML"]
	path = lib/CSFML
	url = https://github.com/SFML/CSFML.git
