[submodule "lib/nativefiledialog-extended"]
	path = lib/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "lib/portaudio"]
	path = lib/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "lib/discord-rpc"]
	path = lib/discord-rpc
	url = https://github.com/harmonytf/discord-rpc.git
